body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: black;
}


header {
  background-color: rgb(12, 0, 64);
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  position: absolute;
}

header h1 {
  margin: 0;
  color: rgb(255, 255, 255);
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

footer {
  background-color: rgb(12, 0, 64);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  position: inherit;
}

h2 {
  text-align: center;
  color: black;
}

.h2home {
  text-align: center;
  margin-left: 0%;
}

.h2aktual {
  text-align: left;
  margin-left: 5%;
}

.homep {
  text-align: center;
  margin-left: 0%;
}

.aktualp{
  text-align: left;
  margin-left: 5%;
}

.card1 {
  margin-left: 40%;
  margin-right: 20%;
  color: rgb(12, 0, 64);
}

.card2 {
  margin-left: 50%;
  margin-right: 50%;
}

.akcecard1 {
  width: 70rem; 
}

.aktcard {
  margin-left: 25%;
  margin-right: 5%;
}


.footp{
  text-align: justify;
  margin-right: 10%;
  margin-left: 10%;
}

.footp2{
  text-align: justify;
  margin-right: 10%;
}

.footp3{
  text-align: justify;
}

.historydiv {
  text-align: center;
}

.homdiv {
  padding: 5%;
}

.ples{
  margin-left: 35%;
}

.mestoimg {
  width: 1519px;
  height: 500px;
  display: block; 
}

.fotky {
  width: 100%;
}
